<section id="skills">
    <h3>SKILLS</h3>
    <div id="skills-container">      
        <div>
            <h4>TECHNICAL SKILLS</h4>
            <div>
                <ul>
                    <li>HTML</li>
                    <li>
                        <progress max="100" value="70"></progress>
                    </li>
                    <li>CSS</li>
                    <li>
                        <progress max="100" value="70"></progress>
                    </li>
                    <li>JAVASCRIPT</li>
                    <li>
                        <progress max="100" value="70"></progress>
                    </li>
                    <li>ANGULAR</li>
                    <li>
                        <progress max="100" value="70"></progress>
                    </li>
                    <li>JAVA</li>
                    <li>
                        <progress max="100" value="70"></progress>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h4>LANGUAGES</h4>
            <div>
                <ul>
                    <li>ENGLISH</li>
                    <li>
                        <progress max="100" value="70"></progress>
                    </li>
                    <li>HINDI</li>
                    <li>
                        <progress max="100" value="70"></progress>
                    </li>
                    <li>TAMIL</li>
                    <li>
                        <progress max="100" value="70"></progress>
                    </li>
                    <li>TELUGU</li>
                    <li>
                        <progress max="100" value="70"></progress>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>