<section id="portfolio">
    <h3>PORTFOLIO</h3>
    <br>
    <p>Some of my best projects so far</p>
    <hr>
    <br>
    <div>
        <article>
            <img src="./asserts/Coding-icon.svg" alt="icon">
            <h4>PERSONAL BLOG</h4>
            <p>A blog where i pen my own thoughts on programming</p>
        </article>
        <article>
            <img src="./asserts/Coding-icon.svg" alt="icon">
            <h4>TIC TAC TOE</h4>
            <p>Complete tic toc toe game along with GUI using java</p>
        </article>
        <article>
            <img src="./asserts/Coding-icon.svg" alt="icon">
            <h4>TIME TABLE GENERATOR</h4>
            <p>A web Application for automatic time table generator</p>
        </article>
    </div>
</section>
