<header id="home">
  <div>
    <p>I BELIEVE IN</p>
    <h1>EAT (); SLEEP (); CODE (); REPEAT ();</h1>
  </div>
</header>

<section id="bio">
  <img src="../../assets/profile-photo.jpg" alt="Photo">
  <article>
    <h2>SWETHA</h2>
    <p>
      I am a passionate engineer with a degree in Computer Science and Emgineering. I have Completed my graduation in
      GuruNanak Institute of Technical Campus with an aggregation of 70%. My very first experiance is building my own
      web page using HTML and CSS.The excitment of having power to structure pages on my own sounded amazing and
      that'swhen i decided to purse web development.
      <span class="break"></span>
      I have some knowledge on web technologies and i did industial training in NSIC. I did my major project on shopping
      e-commerce web site using Angularjs. for that i have created desktop application as well as mobile application.
      <span class="break"></span>

      I want to become a good developer where i can use my knowledge.
    </p>
    <a href="#" class="link-button">Download My Resume</a>
  </article>
</section>
